[Interface] 
PrivateKey = {{ SERVER_PRIVATE_KEY }}
ListenPort = {{ PORT }}
Address = 10.0.0.1/24

{% for client in TEMPLATE_USERS %}

[Peer]
# {{client['name']}}
PublicKey = {{ client['key'] }} 
AllowedIPs = {{ client['ips']}}

{% endfor%}  